p{
	margin: 0;
}

.titulo{
	width: 100%;
	background-color: blue;
	color: white;
	font-size: 1.25em;
}

.subtitulo{
	text-transform: uppercase;
}

.resaltado{
	background-color: #FFFF00;
}

.alignLeft{
	text-align: left;
}

.alignCenter{
	text-align: center;
}

.alignRight{
	text-align: right;
}

.alignJustify{
	text-align: justify;
}


ol{
	counter-reset: item;
}
ol li{
	display: block;
}
ol li:before{
	content: counters(item, ".") ". ";
	counter-increment: item;
}